html {

    height: 100%;
}

body {

    background-image: url(./Daten/bg.png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.Karte {

position: absolute;
display: block;
height: 400px;
width: 600px;
}

.Plant {
position: absolute;
left: -10%;
top: -10%;
}

.Stern {

    position: absolute;
    left: 30%;
    top: 22%;
}

.Video {

    position: absolute;
    left: 50%;
    top: 10%;
}

.Text{

    position: absolute;
    margin-top: -250px;
    padding-left: 50px;
    color: white;

}

.Gifts {

    position: absolute;
    left: 65%;
    top: 70%;
    z-index: 1;
}