html {

    height: 100%;
}

body {

    background-image: url(./Daten/bg.png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.Karte {

position: relative;
display: block;
height: 400px;
width: 600px;
}

.Plant {

    position: absolute;
    left: 390px;
    top: 100px;
}

.Text {

    position: absolute;
    text-align: justify;
    display: flex;
    margin: top;
    color: white;
}

.gif {

    position: absolute;
    left: 590px;
    top: 290px; 
}

.Video {

    position: absolute;
    left: 760px;
    top: 210px;
}

.Gifts {

    position: absolute;
    left: 850px;
    top: 450px;
    z-index: 1;
}