html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

html {
    background-color: burlywood;
}


#Opentasks {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 30px;
    left: 20px;
    text-align: left;
    position: relative;
}

.container {
    position: relative;
    right: 20px;
    padding: 7px 7px 7px 7px;
    background: rgba(128, 117, 117, 0.13);
    width: 250px;
    border-radius: 0.3rem;
    margin-bottom: 5px;
    left: 20px;
}

.container:hover {
    background: rgb(255, 245, 245, 0.13);
}

.checkOff {
    cursor: pointer;
    position: absolute;
}

.taskText {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 40px;
}

.fas {
    position: relative;
    left: 230px;
    color: #fff;
    cursor: pointer;
}


#myInput {
    position: relative;
    left: 20px;
    margin-bottom: 15px;
    border-radius: 0.4rem;
    width: 250px;
    height: 25px;
}

.crossedout {
    text-decoration: line-through;
}