html{

    height: 100%;
}


body {

    background-image: url(./Daten/bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.Karte {

    position: absolute;
    display: block;
    height: 400px;
    width: 600px;

}


.Stern {

    position: absolute;
    top: 200px;
    left: 400px;
}

.Stern2 {

    position: absolute;
    top: 100px;
    left: 300px;
}

.Stern3 {

    position: absolute;
    top: 210px;
    left: 150px;
}   

.Stern4 {

    position: absolute;
    top: 130px;
    left: 70px;
}

.Stern:hover {

    background-image: url(./Daten/stern_hover.png);
}

.Stern2:hover {

    background-image: url(./Daten/stern_hover.png);
}

.Stern3:hover {

    background-image: url(./Daten/stern_hover.png);
}

.Stern4:hover {

    background-image: url(./Daten/stern_hover.png);
}

h1 {

    position: absolute;
    text-align: center;
    color: white;
    left: 60px;
}