html {

    height: 100%;
}
    
    
body {

    background-image: url(./Daten/bg2.png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;

}

.Karte {
    position: relative;

   
}

.Pinguin {

    position: absolute;
    bottom: 90px;
    right: 40px;
    left: 910px;

    
}

.Busch {

    position: absolute;
    left: 360px;
    top: 100px;
}

.Inhalt {

    position: absolute;
    text-align: left;
    color: lavender;
    font-size: 20px;
    text-align: center;
    

}




