html {

    height: 100%;
}
    
    
body {

    background-image: url(./Daten/bg2.png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;

}

.Karte {
    position: absolute;
    display: block;
    height: 400px;
    width: 600px;
}

.Pinguin {

    position: absolute;
    top: 70%;
    left: 85%;
}

.Busch {

    position: absolute;
    top: -10%;
    left: -10%;
}

.Inhalt {

    position: absolute;
    text-align: center;
    margin-top: 20px;
    padding-left: 20px;
    color: lavender;
    font-size: 19px;
    
  
    

}




