.myDiv {
    background: rgb(150, 48, 62);
    border-radius: 0px 0px 600px 600px;
    height: 500px;
    width: 900px;
    margin: -130px 60px 60px 300px;
    padding: 130 130px 130px 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: mintcream;


}

.h1 {
    position: relative;
    font-size: 100px;
    padding: 30px 10px 10px 10px;
    margin: -10px 20px -100px 20px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.3em;
    mix-blend-mode: screen;
    font-size: large;
      
}

h2 {
    padding: 30px 10px 10px 10px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(150, 48, 62);

}


nav {

float: right;
text-decoration: none;
position: fixed;
margin-top: -370px;
padding-left: 870px;
font-size: large;
color: rgb(61, 23, 23);
}

nav li {

display: inline-block;
text-decoration: none;
}

a {
    text-decoration: none;
    color:rgb(63, 29, 29);
}

.link:hover {
    background-color:rgba(206, 195, 176, 0.788);
    

}

.navi {
    background-color:rgba(206, 195, 176, 0.788); ;
}

h3 {
font-size: small;
text-align: center;
font-family: sans-serif;
}



.Fotos {

    text-align: center;
}


body {
background-image: url(./Daten/bg.png);
font-family: sans-serif;
text-align: center;

}