html {
    height: 100%;
    background-image: url(../Aufgabe7/Daten/winter-1791370_1920.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
 }

#Drumpad {
    position: relative;
    width: 480px;
    height: 480px; 
    
}

#Drumpad div{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    display: inline-block;
    margin: 3px;
    filter: drop-shadow(0px 0px 10px rgb(43, 54, 47));
}

#Drumpad div:hover{
    opacity: 90%;
  transform: scale(0.95);
  cursor: pointer;
}

#Drumpad img {
    position: relative;
    left: 160px;
    
}

#Drumpad img:hover {
    opacity: 50%;
  
}

#dp1, #dp2, #dp3 {
    background-color: #485c51;
    
}

#dp4, #dp5, #dp6 {
    background-color: #85674f;
}


#dp7, #dp8, #dp9 {

 background-color: #67796b;

}

#play, #stop, #micro, #trash {

color: ivory;
font-size: 80px;
margin-top: 20px;
transform: scale(0.95);

}

#play {

    position: relative;
    left: 110px;
}

#stop {
    position: relative;
    left: 110px;
}

#micro {

    position: relative;
    left: 140px;
    
}

#trash {

    position: relative;
    left: 170px;
}

.hidden {

    display: none !important;
}

