body{
    background-image: url(./Daten/bg.png);
}

.container{
    position: absolute;
    display: block;
    height: 400px;
    width: 600px;
}

.banderole{
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    margin: auto;
    top: 433px;
    left: 830px;
    z-index: 1;
}

.video{
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    margin: auto;
    top: 190px;
    left: 480px;

}