html {

    height:100%;
}

body{
    background-image: url(./Daten/bg.png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.container{
    position: absolute;
    display: block;
    height: 400px;
    width: 600px;
    
}

.banderole{
    position: absolute;
    top: 260px;
    left: 360px;
    z-index: 1;
}

.video{
    position: absolute;
    top: 220px;
    left: 480px;
    
}