.html {

    height: 100%;
}

body {

    background-image: url(./Daten/bg\ \(1\).png);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.Wrapper {

    position: absolute;
    display: block;
    top: 200px;
    width: 600px;
}

.Formular {
    position: absolute;
    text-align: left;
    display: block;
    top: 210px;
    color: white;
}

h1 {

    font-size: large;
}